@page "{name}"
@model WebAppAss.Pages.Menu.Burger.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Burger</h4>
    <hr >
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.IsVegetarian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.IsVegetarian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burger.Special)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burger.Special)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Burger.Id" >
        <input type="submit" value="Delete" class="btn btn-danger" > |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
